@font-face {
    font-family: "GRANADIA-BOLD";
    src: url('../fonts/GRANADIA-BOLD.TTF') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
}
@font-face {
    font-family: "GRANADIA-BOLD";
    src: url('../fonts/GRANADIA-BOLD.TTF') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
}
@font-face {
    font-family: "GRANADIA-BOLD";
    src: url('../fonts/GRANADIA-BOLD.TTF') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
}
@font-face {
    font-family: "GRANADIA-BOLD";
    src: url('../fonts/GRANADIA-BOLD.TTF') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
}
@font-face {
    font-family: "GRANADIA-BOLD";
    src: url('../fonts/GRANADIA-BOLD.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
}
@font-face {
    font-family: "GRANADIA-BOLD";
    src: url('../fonts/GRANADIA-BOLD.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
    font-stretch: normal;
}
@font-face {
    font-family: "GRANADIA-BOLD";
    src: url('../fonts/GRANADIA-BOLD.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
}
@font-face {
    font-family: "GRANADIA-BOOK";
    src: url('../fonts/poppins/Poppins-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
}
@font-face {
    font-family: "GRANADIA-BOOK";
    src: url('../fonts/GRANADIA-BOOK.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
}
@font-face {
    font-family: "GRANADIA-BOOK";
    src: url('../fonts/GRANADIA-BOOK.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
}
@font-face {
    font-family: "GRANADIA-BOOK";
    src: url('../fonts/GRANADIA-BOOK.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
}
@font-face {
    font-family: "GRANADIA-BOOK";
    src: url('../fonts/GRANADIA-BOOK.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
}
@font-face {
    font-family: "GRANADIA-BOOK";
    src: url('../fonts/GRANADIA-BOOK.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
    font-stretch: normal;
}
@font-face {
    font-family: "GRANADIA-BOOK";
    src: url('../fonts/GRANADIA-BOOK.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
}
